<daden-header />
<section id="target-audience">
    <daden-group-header [title]="groupHeaderTitleTargetAudience" [subtitle]="groupHeaderSubTitleargetAudience" />
    <daden-detail>{{ "target-audience.form-area.notification-one" | translate }}</daden-detail>
    <div id="target-audience-age-range">
        <daden-label>{{ "target-audience.form-area.age-range-input" | translate }}</daden-label>
        <daden-detail>{{ "target-audience.form-area.age-range-description" | translate }}</daden-detail>
        <daden-dropdown [dropDownParts]="dropDownAgeGroupsConfig" (selectedValue)="triggerAudiencePreview($event, 'selectedAge')" />
    </div>
</section>
<section>
    <div id="target-audience-location">
        <daden-label>{{ "target-audience.form-area.location-label" | translate }}</daden-label>
        <daden-detail>{{ "target-audience.form-area.location-description" | translate}}</daden-detail>
        <daden-dropdown [dropDownParts]="dropDownLocationConfig" (selectedValue)="triggerAudiencePreview($event, 'selectedLocation')" />
    </div>
</section>
<section id="audience-preview">
    <daden-group-header [title]="groupHeaderTitlePreview" [subtitle]="groupHeaderSubTitlePreview" />
    <div class="p-4 bg-blue-50 rounded-lg">
        <p class="text-lg font-medium italic">“
            <span class="text-blue-700">{{ targetAudience().selectedAge }}</span> year-olds in 
            <span class="text-blue-700">{{ targetAudience().selectedLocation }}</span> areas.
        </p>
    </div>
</section>

<daden-page-footer></daden-page-footer>

<div>{{ targetAudienceWatch() | json }}</div>

