<!-- <button (click)="check()">CHECK</button> -->

<daden-header />
<section>
    <h2 class="font-bold capitalize text-blue-900 text-3xl">Archetypes</h2>
    <!-- Archetype Inputs -->
    <div class="mb-4">
        <label for="archetype1" class="block text-sm font-bold text-blue-700 mb-2">Primary Archetype (Required)</label>
        <div class="relative w-full">
            <span
                class="absolute right-0 top-1/2 -translate-y-1/2 pointer-events-none p-[11px] rounded-r border-0 bg-blue-500 text-white hover:bg-blue-700">
            </span>
            <daden-dropdown [dropDownParts]="dropDownArchetypeConfig"
                (selectedValue)="handleDropdownArchetype($event)"></daden-dropdown>
        </div>
    </div>
    <div class="mb-4">
        <label for="archetype2" class="block text-sm font-bold text-blue-700 mb-2">Secondary Archetype
            (Optional)</label>
        <div class="relative w-full">
            <span
                class="absolute right-0 top-1/2 -translate-y-1/2 pointer-events-none p-[11px] rounded-r border-0 bg-blue-500 text-white hover:bg-blue-700">
            </span>
            <daden-dropdown [dropDownParts]="dropDownArchetypeConfig"
                (selectedValue)="handleDropdownSecundaryArchetype($event)"></daden-dropdown>
        </div>
    </div>
</section>
<!-- Input Card -->
<section>
    <h2 class="font-bold capitalize text-blue-900 text-3xl">Color pickers</h2>
    <!-- Color Sliders -->
    <div class="mb-4">
        <label class="block text-sm font-bold text-blue-700 mb-2">Primary Color</label>
        <div class="mt-2 mb-6 slider-container">
            <daden-input-colorspectrum 
            [(hue)]="hueVal" 
            [(saturation)]="satVal" 
            [(lightness)]="tintVal" 
            [hueLabel]="labelHue()"></daden-input-colorspectrum>
        </div>
        <div id="secondaryColorContainer" class="mt-4 hidden">
            <label class="block text-sm font-medium text-gray-700">Secondary Color</label>
            <div class="mt-2 mb-6 slider-container">
                <label id="secondaryHueLabel" for="secondaryHueSlider" class="block text-xs text-gray-600">Secondary Hue
                    (Recommended: Select an archetype)</label>
                <input type="range" id="secondaryHueSlider" min="0" max="360" value="0" class="mt-1 w-full">
                <span id="secondaryHueValue" class="slider-value">0°</span>
                <div id="secondaryHueIndicators" class="slider-indicators">
                    <div class="recommended-range"></div>
                    <div class="standard-value"></div>
                </div>
            </div>
        </div>
        <div id="secondaryColorPreviewContainer" class="mt-2 hidden">
            <div id="secondaryColorPreview"
                class="w-full h-24 rounded flex items-center justify-center text-white relative"
                style="background-color: hsl(0, 60%, 50%);">
                <span class="text-base font-medium">Secondary Preview</span>
            </div>
        </div>
    </div>
</section>
<!-- Results Output Card -->
<section id="resultsOutput" class="w-full max-w-lg bg-white  p-6 rounded-xl shadow-md mb-12">
    <h2 class="font-bold capitalize text-blue-900 text-3xl">Color Results</h2>
    <div id="tintsContainer" class="grid grid-cols-1 gap-4">
        <!-- Tints will be dynamically inserted here -->
    </div>
</section>