@switch(type()) { @case('text') {
<input
  [id]="id()"
  [type]="type()"
  [disabled]="isDisabled()"
  [value]="value()"
  [placeholder]="placeholder()"
  (input)="onInputChange($event)"
  class="w-full px-4 py-2 rounded-md border-[1px] border-stroke border-blue-500 outline-none focus:outline-0 focus:ring-2 focus:ring-blue-500 disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
/>

} @case('number'){
<input
  [id]="id()"
  [type]="'number'"
  [disabled]="isDisabled()"
  [placeholder]="placeholder()"
  (input)="onInputChange($event)"
  class="w-full rounded-md border-[1px] border-stroke border-blue-500 outline-none focus:outline-0 focus:ring-2 focus:ring-blue-500 disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
/>
} @case('date') {
<input
  [id]="id()"
  [type]="'date'"
  [disabled]="isDisabled()"
  (input)="onInputChange($event)"
  class="w-full rounded-md border-[1px] border-stroke border-blue-500 outline-none focus:outline-0 focus:ring-2 focus:ring-blue-500 disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
/>
} @case('file') {
<input
  [id]="id()"
  [type]="'file'"
  [disabled]="isDisabled()"
  [attr.accept]="accept()"
  (change)="onFileChange($event)"
  class="w-full rounded-md border-[1px] border-stroke border-blue-500 outline-none focus:outline-0 focus:ring-2 focus:ring-blue-500 disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400 cursor-pointer file:py-2 file:px-4 file:border-collapse file:mr-4 file:cursor-pointer file:border-0 file:font-normal file:bg-blue-500 file:text-white file:hover:bg-blue-700 file:disabled:bg-gray-300 file:disabled:text-gray-600 file:disabled:cursor-default"
/>
} @case('textarea') {
<textarea
  [id]="id()"
  [rows]="rows()"
  [disabled]="isDisabled()"
  [placeholder]="placeholder()"
  (input)="onInputChange($event)"
  class="w-full px-4 py-2 rounded-md border-[1px] border-stroke border-blue-500 outline-none focus:outline-0 focus:ring-2 focus:ring-blue-500 disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-600"
></textarea>
}
@case('email') {
  <input
    [id]="id()"
    [type]="'email'"
    [disabled]="isDisabled()"
    [placeholder]="placeholder()"
    (input)="onInputChange($event)"
    class="w-full px-4 py-2 rounded-md border-[1px] border-stroke border-blue-500 outline-none focus:outline-0 focus:ring-2 focus:ring-blue-500 disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
  />
}
@case('password') {
  <input
    [id]="id()"
    [type]="'password'"
    [disabled]="isDisabled()"
    [placeholder]="placeholder()"
    (input)="onInputChange($event)"
    class="w-full px-4 py-2 rounded-md border-[1px] border-stroke border-blue-500 outline-none focus:outline-0 focus:ring-2 focus:ring-blue-500 disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
  />
}
@case('checkbox') {
  <input
    [id]="id()"
    [type]="'checkbox'"
    [checked]="chechkValue()"
    class="h-4 w-4 text-blue-500 border-blue-500 focus:ring-blue-500 focus:ring-2 focus:ring-offset-2
	  disabled:cursor-default disabled:border-gray-200 disabled:text-gray-600 transition-colors duration-200"
    (change)="onCheckboxChange($event)"
  />
} 
@case('range') {
  <input
    [id]="id()"
    [type]="'range'"
    [min]="minValue()"
    [max]="maxValue()"
    [step]="stepValue()"
    [value]="defaultValue()"
    [disabled]="isDisabled()"
    (input)="debouncedOnRangeChange($event)"
    class="mt-1 w-full h-2 bg-ui-gray-500 rounded-lg appearance-none cursor-pointer accent-brand-blue-500"
  />
}
@case('color') {
  <input
    [id]="id()"
    [type]="'color'"
    [value]="selectedColor()"
    [disabled]="isDisabled()"
    (input)="onColorChange($event)"
    class="w-full h-10 p-1 rounded-md border-[1px] border-stroke border-blue-500 outline-none focus:outline-0 focus:ring-2 focus:ring-blue-500 disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
  />
}
@default {
<p>Unsupported input type: {{ type() }}</p>
} }
