<daden-header></daden-header>

<section>
    <daden-group-header
        title="input"
        subtitle="label, input, detail">
    </daden-group-header>
    <daden-label
        label="label">
    </daden-label>
    <daden-dropdown
        placeholder="placeholder" >
    </daden-dropdown>
    <daden-detail
        text="detail"></daden-detail>
</section>

<section id="form">
    <daden-group-header
        title="Contact Us"
        subtitle="Fill out the form below, and we’ll get back to you soon!">
    </daden-group-header>

    <form class="space-y-6">
        <!-- Text Input (Name) -->
        <div>
            <daden-label 
                for="name"
                label="Name">
            </daden-label>
            <daden-input
                type="text"
                id="name">
            </daden-input>
        </div>

        <!-- Email Input -->
        <div>
            <daden-label 
                for="email"
                label="Email">
            </daden-label>
            <daden-input
                type="email"
                id="email"
                placeholder="you@example.com">
            </daden-input>
        </div>

        <!-- Password Input -->
        <div>
            <daden-label 
                for="password"
                label="Password">
            </daden-label>
            <daden-input
                type="password"
                id="password"
                placeholder="••••••••">
            </daden-input>
        </div>

        <!-- Date Input -->
        <div>
            <daden-label
                for="date"
                label="Date of birth">
            </daden-label>
            <input
                type="date"
                id="date"
                class="w-full px-4 py-2 rounded-md border-[1px] border-stroke border-blue-500 outline-none
                       focus:outline-0 focus:ring-2 focus:ring-blue-500
                       disabled:cursor-default disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
            />
        </div>

        <!-- Text Area -->
        <div>
            <daden-label
                for="message"
                label="message">
            </daden-label>
            <daden-input
                type="textarea"
                id="message"
                placeholder="Your message here...">
            </daden-input>
        </div>

        <daden-input
            type="file"></daden-input>

        <!-- Select Menu -->
        <div>
            <daden-label
                for="topic"    
                label="Topic">
            </daden-label>
            <daden-dropdown
                id="topic"
                placeholder="placeholder">
                <option value="" disabled selected>Select a topic</option>
                <option value="support">Support</option>
                <option value="sales">Sales</option>
                <option value="feedback">Feedback</option>
            </daden-dropdown>
        </div>

        <!-- Checkbox -->
        <div class="flex items-center">
            <daden-checkbox
                [id]="'newsletter'"
                [(ngModel)]="subscribeToNewsletter"
                [label]="'Subscribe to our newsletter'"
                (valueChange)="onNewsletterToggle($event)">
            </daden-checkbox>
        </div>



        <label
        for="checkboxLabelOne"
        class="flex items-center cursor-pointer select-none text-dark dark:text-white"
        >
        <div class="relative">
            <input
                type="checkbox"
                id="checkboxLabelOne"
                class="sr-only"
                />
            <div
                class="flex items-center justify-center w-5 h-5 mr-4 border border-stroke dark:border-dark-3 rounded box"
                >
                <span class="dot h-[10px] w-[10px] rounded-sm"></span>
            </div>
        </div>
        Checkbox Text
        </label>

        <!-- Switch -->
        <div class="flex items-center">
        <label for="toggle" class="flex items-center cursor-pointer">
            <div class="relative">
            <input type="checkbox" id="toggle" class="sr-only" />
            <div
                class="w-10 h-6 bg-ui-gray-500 rounded-full shadow-inner"
            ></div>
            <div
                class="dot absolute w-4 h-4 bg-white rounded-full shadow -left-1 -top-1 transition transform"
            ></div>
                <!-- [ngClass]="{'translate-x-6 bg-brand-blue-500': toggleChecked}" -->
            </div>
            <span class="ml-3 text-sm text-text-primary">Enable notifications</span>
        </label>
        </div>

        <!-- Radio Buttons -->
        <div>
        <label class="block text-sm font-medium text-text-primary">Preferred Contact Method</label>
        <div class="mt-2 space-y-2">
            <div class="flex items-center">
            <input
                type="radio"
                id="email-radio"
                name="contact-method"
                class="h-4 w-4 text-brand-blue-500 focus:ring-brand-blue-500 border-ui-gray-500"
            />
            <label for="email-radio" class="ml-2 text-sm text-text-primary">Email</label>
            </div>
            <div class="flex items-center">
            <input
                type="radio"
                id="phone-radio"
                name="contact-method"
                class="h-4 w-4 text-brand-blue-500 focus:ring-brand-blue-500 border-ui-gray-500"
            />
            <label for="phone-radio" class="ml-2 text-sm text-text-primary">Phone</label>
            </div>
        </div>
        </div>

        <!-- Slider -->
        <div>
        <label for="volume" class="block text-sm font-medium text-text-primary">Volume</label>
        <daden-input-range
            id="volume"
            class="mt-1 w-full h-2 bg-ui-gray-500 rounded-lg appearance-none cursor-pointer accent-brand-blue-500">
        </daden-input-range>
        </div>

        <!-- Submit Button -->
        <div class="w-full flex justify-end">
            <daden-button
                label="button.save-and-continue">
            </daden-button>
        </div>
    </form>
</section>

<section id="accordion">
    <daden-group-header id="accordions"
        title="Accordions"
        subtitle="Checking to see how accordions look inside a container.">
    </daden-group-header>

    <daden-accordion [items]="faqItems"></daden-accordion>
</section>

<section id="typography">
    <daden-group-header id="tpography"
        title="Typography"
        subtitle="Checking to see how typography looks inside a container.">
    </daden-group-header>

    <!-- Headings -->
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>

    <!-- Paragraphs -->
    <p>This is a paragraph with base text size.</p>
    <p>This is a smaller paragraph.</p>

    <!-- Lists -->
    <ul>
        <li>Unordered list item 1</li>
        <li>Unordered list item 2</li>
    </ul>

    <ol>
        <li>Ordered list item 1</li>
        <li>Ordered list item 2</li>
    </ol>

    <!-- Links -->
    <a href="#">This is a link</a>

    <!-- Blockquotes -->
    <blockquote>
        This is a blockquote with a subtle style.
    </blockquote>
    <br>
    <!-- Code Blocks -->
    <code>console.log('Hello, world!');</code>
</section>

<section id="button">
    <daden-group-header id="buttons"
        title="Buttons"
        subtitle="Showing button styles.">
    </daden-group-header>
    
    <div class="flex flex-col flex-wrap items-left">
        <h3 class="mb-2">Button Hierarchy</h3>
        <div class="flex flex-wrap gap-4 items-center mb-8">  
            <daden-button variant="primary" label="Primary Button"></daden-button>
            <daden-button variant="secondary" label="Secondary Button"></daden-button>
            <daden-button variant="tertiary" label="Tertiary Button"></daden-button>
        </div>
        <h3 class="mb-2">Button Colors</h3>
        <h4 class="mb-2">Green</h4>
        <div class="flex flex-wrap gap-4 items-center mb-4">  
            <daden-button color="green" variant="primary" label="Primary Button"></daden-button>
            <daden-button color="green" variant="secondary" label="Secondary Button"></daden-button>
            <daden-button color="green" variant="tertiary" label="Tertiary Button"></daden-button>
        </div>
        <h4 class="mb-2">Yellow</h4>
        <div class="flex flex-wrap gap-4 items-center mb-4">  
            <daden-button color="yellow" variant="primary" label="Primary Button"></daden-button>
            <daden-button color="yellow" variant="secondary" label="Secondary Button"></daden-button>
            <daden-button color="yellow" variant="tertiary" label="Tertiary Button"></daden-button>
        </div>
        <h4 class="mb-2">Red</h4>
        <div class="flex flex-wrap gap-4 items-center mb-8">  
            <daden-button color="red" variant="primary" label="Primary Button"></daden-button>
            <daden-button color="red" variant="secondary" label="Secondary Button"></daden-button>
            <daden-button color="red" variant="tertiary" label="Tertiary Button"></daden-button>
        </div>
        <h3 class="mb-2">Button Size</h3>
        <div class="flex flex-wrap gap-4 items-center mb-8">  
            <daden-button variant="primary" size="big" label="Big Button"></daden-button>
            <daden-button variant="primary" label="Regular Button"></daden-button>
            <daden-button variant="primary" size="small" label="Small Button"></daden-button>
        </div>
        <h3 class="mb-2">Other</h3>
        <div class="flex flex-wrap gap-4 items-center mb-8">  
            <daden-button variant="text" label="Text Link Button"></daden-button>
            <daden-button [disabled]="true" label="Disabled Button"></daden-button>
        </div>
        <h3 class="mb-2">Button with Different Hover Color</h3>
        <div class="flex flex-wrap gap-4 items-center mb-8"> 
            <daden-button variant="primary" label="Accept Button"></daden-button>
            <daden-button variant="secondary" hoverColor="green" label="Parallel Action"></daden-button>
            <daden-button variant="tertiary" hoverColor="red" label="Destructive Button"></daden-button>
        </div>
        <h3 class="mb-2">Icon buttons</h3>
        <div class="flex flex-wrap gap-4 items-center"> 
            <daden-button icon="check" variant="primary" size="medium"></daden-button>
            <daden-button icon="home" label="button.go-home" variant="secondary" color="green" size="big"></daden-button>
            <daden-button icon="search" variant="tertiary" color="blue" size="small" label="button.search"></daden-button>
        </div>


    </div>
</section>

<section id="loading">
    <daden-group-header id="buttons"
        title="Loading">
    </daden-group-header>
    <daden-loading></daden-loading>
</section>

<section id="pagination">
    <daden-group-header id="buttons"
        title="Pagination">
    </daden-group-header>
    <daden-pagination></daden-pagination>
</section>

<daden-page-footer></daden-page-footer>