body {
	font-family: Inter, sans-serif;
}

.slider-container {
	position: relative;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 40px;
	border-radius: 6px;
	outline: none;
	background-clip: content-box;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 4px;
	height: 36px;
	background: #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	width: 4px;
	height: 36px;
	background: #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

#hueSlider,
#secondaryHueSlider {
	background: linear-gradient(
		to right,
		hsl(0, 100%, 50%),
		hsl(60, 100%, 50%),
		hsl(120, 100%, 50%),
		hsl(180, 100%, 50%),
		hsl(240, 100%, 50%),
		hsl(300, 100%, 50%),
		hsl(360, 100%, 50%)
	);
}

#satSlider {
	background: linear-gradient(
		to right,
		hsl(var(--current-hue), 0%, var(--current-lightness)),
		hsl(var(--current-hue), 100%, var(--current-lightness))
	);
}

#lightSlider {
	background: linear-gradient(
		to right,
		hsl(var(--current-hue), var(--current-sat), 10%),
		hsl(var(--current-hue), var(--current-sat), 90%)
	);
}

.slider-indicators {
	position: relative;
	height: 8px;
	width: 100%;
	margin-top: 4px;
}

.recommended-range {
	position: absolute;
	height: 40px;
	border: 2px solid white;
	border-radius: 6px;
	transform: translateY(-50px);
	pointer-events: none;
}

.standard-value {
	position: absolute;
	top: -50px;
	border: 8px solid transparent;
	border-top: 8px solid #fff;
	transform: translateX(-50%);
}

.slider-value {
	position: absolute;
	bottom: -4px;
	transform: translateX(-50%);
	font-size: 0.875rem;
	color: #4b5563;
}
