<daden-header />

<section id="industry">
    <div id="industry-and-values-industry">
        <daden-group-header [title]="groupHeaderTitleIndustry" [subtitle]="groupHeaderSubTitleIndustry" />
        <daden-label>{{ "industry-and-values.form-area.inputlabel"| translate }}</daden-label>
        <daden-detail>{{ "industry-and-values.form-area.description-follow" | translate }}</daden-detail>
        <daden-dropdown id="Industry" name="Industry"
        [dropDownParts]="dropDownIndustryConfig"
        (selectedValue)="handleDropdownIndustry($event)"
        ></daden-dropdown>
    </div>
</section>
<section id= value>
    <div id="industry-and-values-values">
        <daden-detail>{{ "industry-and-values.form-area.values-description" | translate }}</daden-detail>
        <daden-label>{{"industry-and-values.form-area.values-label" | translate }}</daden-label>
        <daden-detail>{{ "industry-and-values.form-area.values-description-2" | translate }}</daden-detail>
        <daden-multi-list-selection
        [options]="industryValues"
        [selectedOptionsState]="brandIndustryCollectionComputed.values"
        (selectionChange)="handleMultipleValues($event)"
        ></daden-multi-list-selection>
    </div>
</section>

<section id="tone-of-voice-preview">
    <daden-group-header
        [title]="groupHeaderTitleBrandname"
        [subtitle]="groupHeaderSubTitleBrandname">
    </daden-group-header>
    <div class="p-4 bg-blue-50 rounded-lg">
        <p class="text-lg font-medium italic">“A 
            <span class="text-blue-700">{{ brandIndustryCollectionComputed.industry }}</span> brand that’s 
            <span class="text-blue-700">{{ brandIndustryCollectionComputed.values[0] }}</span> and 
            <span class="text-blue-700">{{ brandIndustryCollectionComputed.values[1] }}</span>, with a 
            <span class="text-blue-700">{{ brandIndustryCollectionComputed.values[2] }}</span> 
            personality.”
        </p>
    </div>
</section>

<div>COMBINED ARCHETYPES : {{ combinedSelectedArchetypes() | json }}</div>
<div>COMPUTED STATE IN STORE : {{ brandIndustryCollectionComputed | json }}</div>

<daden-page-footer></daden-page-footer>