<div class="flex flex-col lg:flex-row lg:max-h-screen ">
  @if(this.isLoggedIn()) {
  <nav-sidebar class="flex"></nav-sidebar>
  }
  <div class="flex-1 min-h-screen bg-blue-50 text-blue-950  overflow-y-auto">
    <div class="m-auto max-w-screen-md p-16">
      @if( isLoading ) {
        <daden-loading></daden-loading>
      } @else {
        <router-outlet></router-outlet>
      }
      </div>
  </div>
  @if(this.isLoggedIn()) {
  <aside-previews class="flex flex-col bg-blue-950 text-white p-6"></aside-previews>
  }
</div>


