<div class="h-screen -m-16 flex items-center justify-center">
    <section>
      <daden-group-header
        title="Login">
      </daden-group-header>
      <form (ngSubmit)="login()">
        <div class="mb-4">
          <daden-label
            for="username" 
            label="general.username">
          </daden-label>
          <input 
            type="text" 
            id="username" 
            name="username" 
            [(ngModel)]="username" 
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-6">
          <daden-label
            for="password" 
            label="general.password">
          </daden-label>
          <input 
            type="password" 
            id="password" 
            [(ngModel)]="password" 
            name="password" 
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="flex justify-end">
          <daden-button 
            type="submit"
            label="button.login">
          </daden-button>
        </div>
      </form>
    </section>
</div>
  