<div class="flex justify-between items-center my-8">
  <daden-button
      (click)="prevPage()" 
      [disabled]="currentPage() === 1" >
      <div  class="flex flex-row gap-2 h-full items-center">
          <daden-icon icon="arrowLeft" [strokeWidth]="2" class="size-4"></daden-icon>
          <span class="max-sm:hidden"> Previous </span>
      </div>
  </daden-button>

  <p class="text-base font-medium text-black opacity-50 ">
      Page {{ currentPage() }} of {{ totalPages() }}
  </p>
    
  <daden-button
      (click)="nextPage()" 
      [disabled]="currentPage() === totalPages()"
      >
      <div class="flex flex-row gap-2 h-full items-center">
          <span class="max-sm:hidden"> Next </span>
          <daden-icon icon="arrowRight" [strokeWidth]="2" class="size-4"></daden-icon>
      </div>
  </daden-button>
</div>