<label>Hue</label>
<div class="slider-container">
  <div class="hue-slider">
    <input type="range" min="0" max="360" [value]="hue()" (input)="hue.set($any($event.target).valueAsNumber)"
      class="hue-slider-slider">
  </div>
  <div class="slider-indicator" [style.left]="indicatorLeft" [style.width.%]="indicatorWidth"></div>
</div>
<span>{{ hue() }}%</span>

<label>Saturation</label>
<div class="slider-container">
  <div class="slider-sat">
    <input type="range" min="0" max="100" [value]="saturation()"
      (input)="saturation.set($any($event.target).valueAsNumber)" [style.background]="saturationGradient()">
  </div>
  <div class="slider-indicator" [style.left]="satMin()" [style.width.%]="satMax()"></div>
</div>
<span>{{ saturation() }}%</span>

<label>Lightness</label>
<div class="slider-container">
  <div class="slider-tint">
    <input type="range" min="10" max="90" [value]="lightness()"
      (input)="lightness.set($any($event.target).valueAsNumber)" [style.background]="lightnessGradient()">
  </div>
  <div class="slider-indicator" [style.left]="tintMin()" [style.width.%]="tintMax()"></div>
</div>
<span>{{ lightness() }}%</span>

<section id="resultsOutput" class="w-full max-w-lg bg-white  p-6 rounded-xl shadow-md mb-12">
  <h2 class="font-bold capitalize text-blue-900 text-3xl">Color Results</h2>
  <div class="color-list">
    @for(block of colorBlocks(); track block.label) {
    <div class="color-row">
      <div class="color-box" [style.background]="block.hex"></div>
      <div class="color-info">
        <div class="label">{{ block.label }}</div>
        <div class="hex">{{ block.hex }}</div>
        <div class="hsl">{{ block.hsl }}</div>
      </div>
    </div>
    }
  </div>
</section>