<label class="block text-xs text-gray-600">{{ sliderLabels()["labelHue"]()}}</label>
<div class="hue-slider">
  <input type="range" min="0" max="360" [value]="hue()" (input)="hue.set($any($event.target).valueAsNumber)"
    class="hue-slider-slider">
</div>
<span>{{ hue() }}%</span>
<div class="slider-indicators">
  <div class="recommended-range" style="left: 50%; width: 40%;"></div>
  <div class="standard-value" style="left: 70%;"></div>
</div>

<label>Saturation</label>
<div class="slider-sat">
  <input type="range" min="0" max="100" [value]="saturation()"
    (input)="saturation.set($any($event.target).valueAsNumber)" [style.background]="saturationGradient()">
</div>
<span>{{ saturation() }}%</span>
<div class="slider-indicators">
      <div class="recommended-range" style="left: 50%; width: 40%;"></div>
      <div class="standard-value" style="left: 70%;"></div>
    </div>
<label>Lightness</label>
<div class="slider-tint">
  <input type="range" min="0" max="100" [value]="lightness()" (input)="lightness.set($any($event.target).valueAsNumber)"
    [style.background]="lightnessGradient()">
</div>
<span>{{ lightness() }}%</span>
<!-- <div class="slider-indicators">
      <div class="recommended-range" style="left: 50%; width: 40%;"></div>
      <div class="standard-value" style="left: 70%;"></div>
    </div> -->

<section id="resultsOutput" class="w-full max-w-lg bg-white  p-6 rounded-xl shadow-md mb-12">
  <h2 class="font-bold capitalize text-blue-900 text-3xl">Color Results</h2>
    <div class="color-list">
    @for(block of colorBlocks(); track block.label) {
      <div class="color-row">
     <div class="color-box" [style.background]="block.hex"></div>
    <div class="color-info">
      <div class="label">{{ block.label }}</div>
      <div class="hex">{{ block.hex }}</div>
      <div class="hsl">{{ block.hsl }}</div>
    </div>
    </div>
    }
  </div>
</section>