<div class="max-w-sm rounded-md overflow-hidden shadow-md hover:shadow-xl transition-all bg-white">
  <img *ngIf="showImage() && imageUrl()" class="w-full max-h-40 object-cover" [src]="imageUrl()" alt="Card image">
    <div class="px-4 py-4">
      <h3 class="font-bold text-xl mb-2">{{ title() }}</h3>
      <p class="text-gray-700 text-base">
        {{ description() }}
      </p>
    </div>
    <div class="px-4 pt-4 pb-2">
      <span class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Tag 1</span>
      <span class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Tag 2</span>
    </div>
  </div>
  
  