<daden-header></daden-header>

<section id="color">
    <daden-group-header
        title="Brand Indentity"
        subtitle="Your brand's color are based in your industry, brand values and subsequent its personality"
    ></daden-group-header>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
            <daden-label
                label="Industry">
            </daden-label>
            <daden-dropdown 
                class="w-full" 
                [items]="themes.industries" 
                [placeholder]="colorThemePlaceholder()" 
                (selectedValue)="handleSelection($event)">
            </daden-dropdown>
        </div>
        <div>
            <daden-label
                label="Personality">
            </daden-label>
            <daden-dropdown 
                class="w-full" 
                [items]="themes.personalities" 
                [placeholder]="moodPlaceholder()" 
                (selectedValue)="handleSelection($event)">
            </daden-dropdown>
        </div>
        <div>
            <daden-label
                label="Values">
            </daden-label>
            <daden-dropdown 
                class="w-full" 
                [items]="themes.values" 
                [placeholder]="keywordPlaceholder()" 
                (selectedValue)="handleSelection($event)">
            </daden-dropdown>
        </div>
    </div>
    <daden-detail
        text="Select options to shape your color suggestions.">
    </daden-detail>
</section>

<section id="color-scheme">
    <daden-group-header
        title="Color Scheme">
    </daden-group-header>
    <div class="flex flex-col gap-6">
        <daden-dropdown 
            class="w-full" 
            [items]="themes.colorTheories" 
            [placeholder]="colorTheoryPlaceholder()" 
            (selectedValue)="handleSelection($event)">
        </daden-dropdown>
    </div>
    <daden-detail
        text="Select the color scheme to choose the amount and values of your color suggestions.">
    </daden-detail>
</section>

<section id="color-picker">
    <daden-group-header
        title="Color Picker">
    </daden-group-header>
    <div class="flex flex-col gap-6">
        <div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="relative">
                    <daden-label
                        label="Primary Color">
                    </daden-label>
                    <input type="color" class="w-full h-12 rounded-lg border border-gray-300 cursor-pointer" value="#3b82f6">
                    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-white font-medium">#3b82f6</span>
                </div>
                <div class="relative">
                    <daden-label
                        label="Secondary Color">
                    </daden-label>
                    <input type="color" class="w-full h-12 rounded-lg border border-gray-300 cursor-pointer" value="#83f63c">
                    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-white font-medium">#83f63c</span>
                </div>
                <div class="relative">
                    <daden-label
                        label="Tertiary Color">
                    </daden-label>
                    <input type="color" class="w-full h-12 rounded-lg border border-gray-300 cursor-pointer" value="#f63c83">
                    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-white font-medium">#f63c83</span>
                </div>
            </div>
            <daden-detail
                text="Pick your brand colors.">
            </daden-detail>
        </div>
    </div>
</section>

<!-- Results -->
<section id="color-preview">
    <daden-group-header
        title="Results"
        subtitle="Your choices led to the following results">
    </daden-group-header>

    <!-- Primary color -->
    <div class="mb-8 flex flex-wrap rounded-lg shadow-md border-gray-300 border-2 overflow-hidden">
        <div class="w-1/2 bg-white p-4" style="color:#3b82f6">
            <h3 class="text-lg font-bold mb-2">Primary Color on light</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 0, 0, 0</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 bg-gray-800 p-4" style="color:#3b82f6">
            <h3 class="text-lg font-bold mb-2">Primary Color on dark</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 255, 255, 255</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 text-white p-4" style="background-color:#3b82f6">
            <h3 class="text-lg font-bold mb-2">Primary Color on light</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 0, 0, 0</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 text-gray-800 p-4" style="background-color:#3b82f6">
            <h3 class="text-lg font-bold mb-2">Primary Color on dark</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 255, 255, 255</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
    </div>

    <!-- Secondary color -->
    <div class="mb-8 flex flex-wrap rounded-lg shadow-md border-gray-300 border-2 overflow-hidden">
        <div class="w-1/2 bg-white p-4" style="color:#83f63c">
            <h3 class="text-lg font-bold mb-2">Primary Color on light</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 0, 0, 0</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 bg-gray-800 p-4" style="color:#83f63c">
            <h3 class="text-lg font-bold mb-2">Primary Color on dark</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 255, 255, 255</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 text-white p-4" style="background-color:#83f63c">
            <h3 class="text-lg font-bold mb-2">Primary Color on light</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 0, 0, 0</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 text-gray-800 p-4" style="background-color:#83f63c">
            <h3 class="text-lg font-bold mb-2">Primary Color on dark</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 255, 255, 255</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
    </div>

    <!-- Tertiary color -->
    <div class="mb-8 flex flex-wrap rounded-lg shadow-md border-gray-300 border-2 overflow-hidden">
        <div class="w-1/2 bg-white p-4" style="color:#f63c83">
            <h3 class="text-lg font-bold mb-2">Primary Color on light</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 0, 0, 0</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 bg-gray-800 p-4" style="color:#f63c83">
            <h3 class="text-lg font-bold mb-2">Primary Color on dark</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 255, 255, 255</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 text-white p-4" style="background-color:#f63c83">
            <h3 class="text-lg font-bold mb-2">Primary Color on light</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 0, 0, 0</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
        <div class="w-1/2 text-gray-800 p-4" style="background-color:#f63c83">
            <h3 class="text-lg font-bold mb-2">Primary Color on dark</h3>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Hex: #3b82f6</p>
                <p class="text-sm flex-1">RGB: 255, 255, 255</p>
            </div>
            <div class="flex flex-row gap-2">
                <p class="text-sm flex-1">Contrast Ratio: 4.5:1</p>
                <p class="text-sm flex-1">WCAG: AA</p>
            </div>
        </div>
    </div>
</section>
    
<daden-page-footer></daden-page-footer>